@charset "utf-8";
@font-face
{
	font-family: "Arvo";
	src: url(../fonts/Arvo-Bold.ttf);
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section 
{
    display: block;
}
html, body
{
	height: 100%;
}
	@-webkit-keyframes fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
	@-moz-keyframes    fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
	@-o-keyframes      fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
	@keyframes         fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
body
{
	-webkit-animation: fade-in 1s linear; /* Safari 4+ */
	-moz-animation: fade-in 1s linear; /* Fx 5+ */
	-o-animation: fade-in 1s linear; /* Opera 12+ */
	animation: fade-in 1s linear; /* IE 10+, Fx 29+ */
	/*-----------*/
	display: flex;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #27272a;
	margin: auto;
}
.hiden
{
	font-size: 13pt;
	color: #FFFFFF;
}
.logo
{
	font-weight: 500;
	color: #ffffff;
	background: #FF0000;
	padding: 3px;
	border-radius: 5px;
}
.wid-logo
{
	color: #E4E4E4 !important;
	font-size: 22pt;
	font-family: "Arvo";
}
.panel-wid
{
	line-height: 1.1;
	font-size: 20pt;
	font-family: "Arvo";
}
.panel
{
	font-weight: 500;
	color: #ffffff;
	background: #FF0000;
	padding: 3px;
	border-radius: 5px;
}
.form-default
{
	width: 100%;
	max-width: 350px;
	padding: 15px;
	margin: auto;
}
/* CSS Document */

